body {
    font-family: Arial, sans-serif;
    background-color: #b3e5fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #e1f5fe;
    padding: 20px;
    border: 1px solid #f48fb1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #000;
    display: block;
    margin-top: 10px;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="tel"], 
textarea, 
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 60px;
}

.gender {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.gender input {
    margin: 0 5px 0 0;
}

.phone {
    display: flex;
    align-items: center;
}

.phone span {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

